 @keyframes moveUp {
     from {
         transform: translate(2rem, -20rem) rotateZ(45deg);
         opacity: 1;
     }
     to {
         transform: translate(10rem, 30rem) rotateZ(0deg);
         opacity: .2;
     }
 }
 
 @keyframes moveInUp {
     from {
         transform: translateY(2rem);
         opacity: .2;
     }
     to {
         transform: translateY(0rem);
         opacity: 1;
     }
 }
 
 @keyframes moveInDown {
     from {
         transform: translateY(-2rem);
         opacity: .2;
     }
     to {
         transform: translateY(0rem);
         opacity: 1;
     }
 }
 
 @keyframes arrRight {
     from {
         transform: translateX(.5rem);
         opacicy: .5;
     }
     to {
         transform: translateX(0);
         opacity: 1;
     }
 }
 
 @keyframes shake {
     0% {
         transform: skewX(-10deg) translateX(-2rem);
     }
     25% {
         transform: skewX(-5deg) translateX(1rem);
     }
     50% {
         transform: skewX(0deg) translateX(0rem);
     }
     75% {
         transform: skewX(10deg) translateX(-1rem);
     }
     100% {
         transform: skewX(25deg) translateX(2rem);
     }
 }