//$colormain-dark:hsl(109, 93%, 27%);
$colormain-dark:#249b2e;
$colormain-light:rgb(107, 253, 119);
//$colorfont-light:rgb(218, 231, 219);
$colorfont-light:#fff;
//$colormain-light:#80cd0c;
$colorgrey-light:rgba(55, 55, 55, .7);
$colorgrey-dark:rgba(0, 0, 0, .7);
$colorwhite:#fff;
$colorlink1:#6c63ff;
$colorlink2:#45419b;
$colorcrimson:crimson;
$colorbackground-light:#eaeaea;
$colorbackground-light2:#c8cac6;
$colorbackground-dark2:#222221;